<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <!-- <li class="nav-item">
            <a class="nav-link " href="index.html">
                
                <span>Dashboard</span>
            </a>
        </li>End Dashboard Nav -->

        <li class="nav-item">
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                       
            </ul>
        </li><!-- End Components Nav -->
        <li class="nav-item">
          <a class="nav-link collapsed" routerLink="dashboard">
            <i class="bi bi-grid"></i><span>Dashboard</span>
          </a>
        </li><!-- End Profile Page Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/admin/admins">
              <i class="bi bi-person"></i>
              <span>Admins</span>
            </a>
          </li><!-- End Profile Page Nav -->
    
          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/admin/crops">
              <i class="bi bi-question-circle"></i>
              <span>Crops</span>
            </a>
          </li><!-- End F.A.Q Page Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/admin/towns">
              <i class="bi bi-envelope"></i>
              <span>Towns</span>
            </a>
          </li><!-- End Contact Page Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" routerLink="/admin/farmers">
                <i class="bi bi-person"></i>
              <span>Farmers</span>
            </a>
          </li><!-- End Contact Page Nav -->
    </ul>
    <button type="button" class="btn btn-outline-danger text-capitalize mx-4 btn-sm mt-2" (click)="logout()">logout</button>       

</aside><!-- End Sidebar-->